{% extends "home.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>
  <body>
    
    <div class="crowd_Navbar">
      <div class="range">
        <div>로고</div>
        <div>검색</div>
        <div>프로젝트 게시하기</div>
      </div>
    </div>
    {% block content %}
    <div class="pre">
      <div class="pre_text">
        <h2>오픈예정</h2>
        
      </div>
      <div class="pre_image">
        
        <div>
          <img src="{% static '밤하늘2.jpg' %}" />
          <p class="img_title">예상 기대 수익률 26.4%|매그넘 인 파리展</p>
          <p class="img_subtitle">6월 중 오픈예정</p>
        </div>
        <div>
          <img src="{% static '밤하늘3.jpg' %}" />
          <p class="img_title">예상 기대 수익률 26.4%|매그넘 인 파리展</p>
          <p class="img_subtitle">6월 중 오픈예정</p>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="range">
        
        <div>
          <label><input type="checkbox" class="project_done"/>펀딩 마감된 프로젝트 보기</label>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="range">
        <!-- {% for post in posts %}
        <div class="post">
          <img src="{% static '여행의 이유.jpg' %}" />
          {{ post.title }}
          {{ post.director }}
          <div class="post_bottom">
            <div class="duration">
              <i class="far fa-calendar-alt"></i>
              <p>{{ post.duration }}일 남음</p>
            </div>
            <div class="detail">
              <p class="investment">{{ post.investment }}원</p>
              <p class="rate">{{ post.rate }}%</p>
            </div>
          </div>
        </div>
        {% endfor %} -->
        {% for cfpost in cfposts %}
        <div class="post">
          <a href="{% url 'crowd_detail' cfpost.pk %}"><img src="{{ cfpost.img.url }}"></a>
          <p class="title">{{ cfpost.title }}</p>
          <p class="director">{{ cfpost.director }}</p>
          <div class="post_bottom">
            <div class="duration">
              <i class="far fa-calendar-alt"></i>
              <p>n일 남음</p>
            </div>
            <div class="number">
              <p class="investment">587,000원</p>
              <p class="rate">167%</p>
            </div>
          </div>
        </div>
        {% endfor %}


        {% comment %} 재훈 추가부분 {% endcomment %}
        <div class="crowd_new">
          <a href="{% url 'crowd_new' %}">크라우드 펀딩 받기</a>        
      </div>
    </div>
    {% endblock %}
  </body>
</html>
