{% extends "home.html" %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
      integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="crowd_Navbar">
      <div class="range">
        <div>로고</div>
        <div>검색</div>
        <div>프로젝트 게시하기</div>
      </div>
    </div>
    {% block content %}
    <div class="introduce">
      <p class="genre">성장 드라마</p>
      <h1>{{ cfpost.title }}</h1>
      <div class="profile">
          <img src="{% static 'books1.jpg' %}"/>
        <p class="director_name">{{ cfpost.director }}</p>
      </div>
    </div>
    <div class="main">
      <div class="range">
        <div class="range_top">
          <img src="{{ cfpost.img.url }}" />
          <div class="right">
            <p class="no_margin">모인금액</p>
            <div class="inline">
              <p class="big_font">587.000원</p>
              <p>167%</p>
            </div>
            <p class="no_margin">남은시간</p>
            <div class="inline">
              <p class="big_font">11</p>
              <p>{{ cfpost.duration }}일</p>
            </div>
            <p class="no_margin">후원자</p>
            <div class="inline">
              <p class="big_font">37</p>
              <p>명</p>
            </div>
            <div class="condition">
              <p>펀딩 진행중</p>
              <pre>
목표 금액인 350,000원이 모여야만 결제됩니다. 
결제는 2019년 5월23일에 다함께 진행됩니다.
              </pre>
            </div>
            <div class="button">
              <button type="button">결제하기</button>
              <a href="#"><i class="fas fa-share-alt-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="sub_navbar">
        <div class="sub_range">
          <a href="#">스토리</a>
          <a href="#">커뮤니티</a>
          <a href="#">환불 및 교환</a>
        </div>
      </div>
    </div>
    <div class="detail">
      <div class="array">
        <div class="left">
        <p class="text_array">
 안녕하세요. 대구신명고등학교 1학년에 재학 중인 학생들이 모여있는 영화제작 자율동아리 '우드'에서 처음으로 단편영화를 제작하게 되었습니다. 부원 수도 적고 처음이라 실력도 많이 부족하지만 부원 한명 한명이 모여 함께하며, 적게라도 후원을 받아 좋은 작품이 만들어 질 수 있도록 노력하겠습니다!

  자율동아리가 지원금이 없다보니 저희가 직접 사비를 모아 촬영을 해야하는 상황이 되었습니다. 부원이 10명 뿐이라 많은 부담과 걱정이 따르기에 이렇게 후원을 요청합니다. 
 목표 후원금보다 더 모이게 된다면 보다 더 완벽한 영화를 만들겠습니다. 
(350,000원은 최소한의 금액이며 500,000원을 목표로 하고있습니다.)

"모인 후원금은 모두 영화제작비용과 선물제작비용으로 사용될 예정입니다."

선물은 영화 제작 완료 후 전달 될 예정이며, 영화 제작이 완료 될 시 공지해드리겠습니다.
          </p>
          <img src="{% static '밤하늘2.jpg' %}" />
        </div>
        <div class="right">
          <div class="director">
            <p class="director_introduce">제작자 소개</p>
            <div class="sub_profile">
              <img src="{% static 'books1.jpg' %}" />
              <p class="director_name">감독이름</p>
            </div>
            <p class="self_introduce">
              안녕하세요, 영화배우를 꿈꾸고 있는 고등학생 김영경입니다! 현재
              대구신명고등학교 1학년에 재학중이며 영화제작 자율동아리 '우드'의
              부장을 하고있습니다. 처음으로 만들어진 동아리라 많이 부족하지만
              열심히 노력하여 좋은 작품을 만들겠습니다:)
            </p>
            <div class="log">
              <div class="line_in">
                <p class="log_status">마지막 로그인</p>
                <p class="how_long">10시간 전</p>
              </div>
              <div class="line_in">
                <p class="done_project">진행한 프로젝트</p>
                <p class="how_many">1</p>
                <p class="push_project">밀어준 프로젝트</p>
                <p class="how_many">2</p>
              </div>
              <div class="to_producer">
                <i class="fas fa-envelope"></i>
                <p>창작자에게 문의하기</p>
                <ul>
                <!-- {% for comment in cfpost.cfcomments.all %}
                  <li>{{ comment.cfcontent }}<a href="{% url 'delete_comment_2' cfpost.pk cfcomment.pk %}">삭제하기</a></li>
                {% endfor %} -->
                </ul>
                <!-- {% comment %} <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
                </form> {% endcomment %} -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>