{% extends "home.html" %}

    {% block content %}
    {{ post.update_counter }}
    <div class="detail">
        전체
        <div class="diretor_profile">
            <a href="{% url 'dit_detail' %}">{{ post.director }}</a> 
            감독 연락처
            {{ post.img.url }}
        </div>
        <div class="video">
            video<br>
            여기다가 영상 띄우기
            <br>
            <br>
            <div class="video_info">
                {{ post.title }}
                {{ post.created_date }}
                출연진 정보
            </div>
        </div>

        <div class="comment">
            <ul>
            {% for comment in post.comments.all %}
                <li>{{ comment.content }}<a href="{% url 'delete_comment' post.pk comment.pk %}">삭제하기</a></li>
            {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>

        <div class="contnet_bar">
            추천 영상
        </div>
        <a href="{% url 'like' post.pk %}">좋아요</a>
        <a href="{% url 'delete' post.pk %}">삭제하기</a>
        <a href="{% url 'edit' post.pk %}">수정하기</a>
        <a href="{% url 'home' %}">글 목록으로 돌아가기</a>
    </div>
    {% endblock %}

<style>
    div {
        border: 2px solid grey;
        margin: 10px;
    }    
    div div {
        border: 2px solid blue;
    }    
</style>