{% extends "home.html" %}

    {% block content %}
    <!-- {{ post.update_counter }} -->
    <div class="detail_wrapper">

        <div class="video_wrapper">
            <div class="video">
                <iframe
                src="https://www.youtube.com/embed/bPNDnoZoIWg"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
                ></iframe>
            </div>
        </div>    

        <div class="category">감독 프로필</div>
        <div class="list box">
            
            <div class="diretor_profile">
                <div class="director_profile_photo"></div>

                <div class="director_profile_text">
                    <a href="{% url 'dit_detail' %}">{{ post.director }}</a> 
                    <div class="director_email">madoranna@ma.ma</div>
                </div>    
            </div>

            <div class="other_info">
                <div class="video_info">
                    <div class="video_title">진실의 방으로</div><br>
                    <div class="video_date">2019</div>
                    <div class="video_actor">주연 마동석 조연 마동석 단역 마동석</div>
                </div>
            </div>

            <div class="box">
                <a href="{% url 'like' post.pk %}"><button type="button" class="btn btn-primary">좋아요</button></a>
                <a href="{% url 'delete' post.pk %}"><button type="button" class="btn btn-secondary">삭제하기</button></a>
                <a href="{% url 'edit' post.pk %}"><button type="button" class="btn btn-success">수정하기</button></a>
                <a href="{% url 'home' %}"><button type="button" class="btn btn-dark">글 목록으로 돌아가기</button></a>
            </div>
        </div>
        <div class="category">Comment</div>
            <ul>
            {% for comment in post.comments.all %}
            <li><h2>{{ comment.내용 }}</h2>  창의성:{{ comment.창의성 }}  시사성:{{ comment.시사성 }} 예술성:{{ comment.예술성 }}
                <br><a href="{% url 'delete_comment' post.pk comment.pk %}"><button type="button" class="btn btn-danger">삭제하기</button></a></li>
            {% endfor %}
            </ul>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" />
            </form>
        </div>

        {% comment %} <div class="category">추천 영화</div>
        <div class="list">  

            {% for post in posts %}
            <a href="{% url 'detail' post.pk %}">
            <div class="thumbnail">
                <div><img src="{{ post.img.url }}" class="poster"></div>
                <div class="thumbnail_txt">
                    
                    <div class="th_title">{{ post.title }}</div>
                    <div class="th_content">{{ post.content }}</div>
                    <i class="fas fa-play"> 100</i>
                    <i class="far fa-heart"> 128</i>
                </div>
            </div>
            </a>
        {% endfor %}
            </div>
        </div> {% endcomment %}
    {% endblock %}

<style>
    div {
        border: 2px solid grey;
        margin: 10px;
    }    
    div div {
        border: 2px solid blue;
    }    
</style>