{% extends "home.html" %}

    {% block content %}
    <div class="myprofile">
        전체
        <div class="my_profile">
            이름
            연락처
            프로필 사진
        </div>

        <div class="history">
            내가 본 작품들
        </div>


        <div class="payment_menu">
            결제창 ㄱㄱ
        </div>

        
    </div>

    <div class="contnet_bar">
        추천 영상
    </div>

    {% endblock %}

<style>
    div {
        border: 2px solid grey;
        margin: 10px;
    }    
    div div {
        border: 2px solid blue;
    }    
</style>

