{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"href="{% static 'home.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'new.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'login.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'crowd_detail.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'crowdfunding.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'mypage.css' %}"/>
    <link rel="stylesheet" type="text/css"href="{% static 'detail.css' %}"/>
</head>
<body>
    <div class="header">
        <a href="{% url 'home' %}"><h2 class="logo">indi-theater</h2></a>
        <input type="checkbox" id="chk">
        <label for="chk" class="show-menu-btn">
            <i class="fas fa-ellipsis-h"></i>
            <!-- ... -->
        </label>

        <ul class="menu">

            {% if user.is_authenticated %}
            <div class="menu_txt">안녕하세요, {{ user.username }} 님!</div>
            {% else%}
            <a href="{% url 'home' %}">Home</a>
            {% endif %}

            
            <a href="{% url 'crowdfunding' %}">크라우드 펀딩</a>
            <a href="{% url 'mypage' %}">마이 페이지</a>

            {% if user.is_authenticated %}
            <a href="{% url 'new' %}">Upload</a>
            <a href="{% url 'logout' %}">로그아웃</a>
            {% else %}
            <a href="{% url 'signup' %}">회원가입</a>
            <a href="{% url 'login' %}">로그인</a>
            {% endif %}

            <label for="chk" class="hide-menu-btn">
                <i class="fas fa-times"></i>
                <!-- X -->
            </label>
        </ul>
    </div>



{% block content %}
    <div class="sliding">
        <figure>
            <img src="static/desk.png" >
            <img src="static/desk2.png" >
            <img src="static/desk3.png" >
        </figure>
        
    </div>

    <div class="body2">
    <div class="category">최신 영화</div>
    <div class="list">

        {% for post in posts %}
        <a href="{% url 'detail' post.pk %}">
        <div class="thumbnail">
            <div><img src="{{ post.img.url }}" class="poster"></div>
            
            <div class="th_title">{{ post.title }}</div>
            <div class="th_content">{{ post.content }}</div>
            <i class="fas fa-play"> {{ post.post_hit }} </i>
            <i class="far fa-heart"> {{ post.post_like }} </i>
            
        </div>
        </a>
        {% endfor %}

    </div>

    <div class="category">5월 신작</div>
    <div class="list">

        {% for post in posts %}
        <a href="{% url 'detail' post.pk %}">
        <div class="thumbnail">
            <div><img src="{{ post.img.url }}" class="poster"></div>
            <div class="thumbnail_txt">
                
                <div class="th_title">{{ post.title }}</div>
                <div class="th_content">{{ post.content }}</div>
                <i class="fas fa-play"> {{ post.post_hit }}</i>
                <i class="far fa-heart"> {{ post.post_like }}</i>
            </div>
        </div>
        </a>
        {% endfor %}

    </div>
    
    {% endblock %}
    
</body>

</html>

