{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
  {% block content %}
    <div class="Navbar"></div>
    <div class="top"></div>
    <div class="bottom">
      <div class="range">
        <p>이용권</p>
        <div class="a"><p>결제하기</p></div>
        <div class="a"><p>결제하기</p></div>
        <div class="a"><p>결제하기</p></div>
      </div>
    </div>
  {% endblock %}
  </body>
</html>
