{% extends "home.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    {% block content %}
    <div class="category">Signup</div>
    {% if error %}
    {{ error }}
    {% endif %}
    <div class="Signup_form">
      <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" />
        <input type="password" name="password" placeholder="password" />
        <input type="submit" value="확인" />
      </form>
    </div>
    {% endblock %}
  </body>
</html>
