.detail_page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.detail_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  width: 100vw;
  -webkit-flex-flow: row wrap;
  /* border: brown 3px solid; */
}

.video_wrapper {
  width: 100%;
  height: fit-content;
}

.video {
  margin: 0px;
  padding: 0px;
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.box{
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* border: red 3px solid; */
}

.movie_info {
  display: flex;
  box-sizing: border-box;
  width: 100%;
  height: 150px;
  border: 1px solid black;

  justify-content: space-around;
  align-items: center;
}

.diretor_profile {
  display: flex;
  box-sizing: border-box;
  width: 50%;
  height: 70%;
  padding: 20px;
  justify-content: flex-start;
  align-items: center;
  /* border: 1px solid black; */
}

.director_profile_photo {
  width: 150px;
  height: 150px;
  background-image: url(https://github.com/woojeee/insta_photo/blob/master/dong1.PNG?raw=true);
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
}

.director_profile_text {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
  /* border: 1px solid black; */
  font-size: 1.5em;
  font-weight: bold;
}

.director_name {
  font-size: 1em;
  font-weight: bold;
}

.other_info {
  width: 700px;
  height: 70%;
  display: flex;
  flex-direction: column;
  text-align: right;
  display: flex;
  flex-wrap: wrap;

}

.comment{
  margin-bottom : 10px;
}

.video_info{  
  display: flex;
  flex-wrap: wrap;
  /* border: red 3px solid; */
  width: 100%;
}

.btn{
  margin-right: 10px;
}

.btn-danger{
  margin-left : 10px;
}

.video_title {
  display: flex;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.video_date {
  display: flex;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 5px;
}
.video_actor {
  display: flex;
  font-size: 1em;
  font-weight: bold;
}

.detail_comment {
  width: 100%;
  height: 400px;
  border: 1px solid black;
}

.detail_recommend {
  display: flex;
  width: 100%;
  height: 400px;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.recommend_video {
  display: block;
  width: 350px;
  height: 350px;
  border: 1px solid black;
}